*{
    padding: 0;
    box-sizing: border-box;
    font-family: peyda;
    margin: 0;
    font-family: Peyda;
}
body{
    background-color: #E0E0E0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c2{
    margin-top: 80px;
    /* border: 2px solid #EEEEEE; */
    border-radius: 3px;
    width: 400px;
    height: 100%;
    padding: 15px;
    background-color: #EEEEEE;
}
.shape{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    margin-top: -50px;
    color: #90A4AE;
}
.text{
    display: flex;
    justify-content: center;
    margin-top: -35px;
    margin-right: -245px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
    z-index: -1;
    filter: blur(1px);
}
.warning{
    background-color: #FFF176;
    border: 2px solid #FFCA28;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.input-userneme input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #B0BEC5;
    outline: none;
    font-size: 17px;
}
.input-password input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid #B0BEC5;
    outline: none;
    font-size: 17px;
    margin-bottom: 10px;
}
.lbl{
    font-size: 20px;
}
.check-role a{
    text-decoration: none;
}
.check-role{
    word-spacing: 1.5px;
    text-align: justify;
}
.submit-button input{
    color: #fff;
    background-color: #EF5350;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}
.login a{
    text-decoration: none;
}
.login{
    margin-top: 25px;
    text-align: center;
}
.icon{
    position: absolute;
    font-size: 1.2em;
    left: 510px;
    margin-top: -5px;
    line-height: 57px;
}